.commentWrapper {
}

.textWrapper {
  border-radius: 1rem;
  background-color: hsl(0, 0%, 25%);
  padding: 0.5rem;
}

.headingWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textWrapper p {
  word-wrap: break-word;
}

.headingWrapper dialog {
  left: calc(100% + 1rem);
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  background-color: hsla(0, 43%, 37%, 0.5);
  width: 7rem;
  text-align: center;
}

.headingWrapper dialog p {
  margin-bottom: 1rem;
}

.dialogButtons {
  display: flex;
  justify-content: space-between;
}

.dialogButtons button {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
}
.dialogButtons button:hover {
  background-color: grey;
}

.user {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.headingWrapper .deleteButton {
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.headingWrapper svg {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.headingWrapper .deleteButton span {
  position: absolute;
  white-space: nowrap;
  color: white;
  background-color: hsla(0, 43%, 37%, 0.5);
  padding: 0.5rem;
  border-radius: 1rem;
  opacity: 0;
  transition-property: opacity;
  pointer-events: none;
  left: 2.5rem;
}

.headingWrapper:has(.deleteButton:hover) span {
  opacity: 1;
  transition-delay: 0.4s;
}

.headingWrapper .deleteButton:hover {
  background-color: hsl(0, 0%, 30%);
}

.date {
  position: relative;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}

.date time {
  cursor: pointer;
}

.dateTooltip {
  left: 0;
  position: absolute;
  white-space: nowrap;
  color: black;
  background-color: hsla(0, 0%, 100%, 0.5);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition-property: opacity;
  pointer-events: none;
}

.date:has(time:hover) .dateTooltip {
  opacity: 1;
  transition-delay: 0.4s;
}
