.wrapperDiv h1 {
  margin-bottom: 2rem;
}

.wrapperDiv a {
  background-color: hsl(0, 0%, 30%);
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 0.5rem;
}

.wrapperDiv a:hover {
  background-color: hsl(0, 0%, 40%);
}
