*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --main-background-color: hsl(0, 0%, 10%);
  --primary-background-color: hsl(0, 0%, 15%);
  --secondary-background-color: hsl(0, 0%, 20%);
  --primary-font-color: hsl(0, 0%, 90%);
  --button-color: hsl(0, 0%, 25%);
  --hover-button-color: hsl(0, 0%, 35%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--primary-font-color);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
